extends layout

block content
  h1= "Display the list of Users"
  table
     each user, i in userlist
        tr
          td #{user.FirstName}
          td #{user.LastName}
          td #{user.Mobile} 